/* 

    purple -rgb(84,42,82)

            - #542a52

     red -rgb(192,0,0)

            - #c00000
*/

.card-header{
       background-color: #542a52 !important;
}

.card-header h4 {
       
       color: #fff !important;
       font-size:150%;
       font-weight: bold;
       font-family:Century, "Times New Roman" , Arial;

}

.student_data_entry_form i {

       font-size:50%;
       vertical-align:top;
}

.student_data_entry_form .form-control{

       border:1px solid #542a52 !important;
       border-radius:0%;
}

.student_data_entry_form .form-control:focus{

       box-shadow:none;

       border-top:none !important;
       border-right:none !important;
       border-left:none !important;
       border-bottom: 3px solid #542a52 !important;
}

.student_data_entry_form label span {

       display: inline;
       font-size:80%;
}

.student_data_entry_form label {

       color:#542a52;
       font-size:120%;
       font-weight: 500;
}

.btn-submit {
    color: #fff;
    background-color: #542a52;
    border-color: #542a52;
}

.btn-success:hover {
    color: #fff;
    background-color: #542a52;
    border-color: #542a52;
}

.btn-outline-submit {
    color: #542a52;
    border-color: #542a52;
}

.btn-outline-submit:hover {
    color: #fff;
    background-color: #542a52;
    border-color: #542a52;
}

.text-danger{

       color:#c00000 !important; 
}
 .border-refactory {

       border:1px solid #542a52;
 }