<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">

    <link rel="stylesheet" href="../css/mycss.css">

    <title>Student Data Entry Form</title>
</head>
<body>

    <div id="main_body" clsas="container">

        <div class="mt-5 row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4> Student Details Entry Form </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="help-text"> Not all fields marked with a red star (<i class="fa fa-star text-danger"></i>) </span>

                        <br/>

                        <form class="form student_data_entry_form">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Sur name <i class="fa fa-star text-danger"></i> </label>
                                        <input type="text" id="surname" name="surname" class="form-control" placeholder="Enter your Sur Name here"/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Given name <i class="fa fa-star text-danger"></i> </label>
                                            <input type="text" id="givenName" name="givenName" class="form-control" placeholder="Enter your Given Name here"/>
                                        </div>
                                </div>
                            </div>
                            <label class="col-form-label" style="display:block;"> Gender <i class="fa fa-star text-danger"></i> </label>
                            <div class="row ml-1 border-refactory">
                                <div class="form-group" style="padding:1%;">                                    
                                    
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="Male" name="gender" value="Male" class="custom-control-input">
                                            <label class="custom-control-label" for="Male">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="Female" name="gender" value="Female" class="custom-control-input">
                                            <label class="custom-control-label" for="Female"> Female </label>
                                        </div>
                                    
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <label class="col-form-label"> Date of birth <i class="fa fa-star text-danger"></i> </label>
                                            <input type="date" id="dob" name="dob" class= "form-control" placeholder="01/01/1970"/>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <label class="col-form-label"> Country <i class="fa fa-star text-danger"></i> </label>
                                                <select name="country" id="country" class="form-control">
                                                    <option value=""> ------------------ Select Country ---------------------</option>
                                                    <option value="Uganda"> Uganda </option>
                                                    <option value="Kenya"> Kenya </option>
                                                    <option value="Tanzania"> Tanzania </option>
                                                    <option value="Rwanda"> Rwanda </option>
                                                </select>
                                            </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Place of Residence <i class="fa fa-star text-danger"></i> </label>
                                        <input type="text" id="placeOfResidence" name="placeOfResidence" class="form-control" placeholder="Enter your current place of residence"/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Phone number <i class="fa fa-star text-danger"></i> </label>
                                            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Eg.. 07xxxxxxxx or +2567xxxxxxxx"/>
                                        </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label class="col-form-label"> Email Address <i class="fa fa-star text-danger"></i> </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E.g applicant@gmail.com"/>
                                </div>
                            </div>
<br/><br/>
                            <div class="row">
                                    <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Skills <span class="form-text text-muted">(Separate Skills With Commas)</span> <i class="fa fa-star text-danger"></i> </label> <br/>

                                            <textarea name="skills" class="form-control" id="skills" cols="30" rows="5">

                                            </textarea>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6 col-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Projects <span class="form-text text-muted">(Separate Projects With Commas)</span> <i class="fa fa-star text-danger"></i> </label> <br/>

                                            <textarea name="projects" class="form-control" id="projects" cols="30" rows="5">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-4 offset-8">
                                        <input type="submit" name="submit" value="Submit" class="btn btn-submit btn-md">
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="reset" name="cancel" value="Cancel" class="btn btn-outline-submit btn-md">
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>